body {
  background-image: url("../images/aquarium.jpg");
  background-size: cover;
  overflow-y: hidden;
}

img {
  position: fixed;
}

#fish1Id {
  left: 250px;
  top: 250px;
  width: 250px;
  height: 250px;
  position: relative;
}

#fish2Id {
  left: 500px;
  top: 250px;
  width: 150px;
  height: 150px;
  position: relative;
}

#octopus {
  left: 600px;
  top: 600px;
  width: 270px;
}

#cthulhuId{
  position: relative;
  width:300px;
  height:300px;
  left: 600px;
  top:700px;
  
}
.bubbleClass {
  width: 100px;
  height: 100px;

  z-index: 0;
}

.smallBubbleClass {
  width: 20px;
  height: 20px;
}

#scubaDiver {
  position: absolute;
  width: 300px;
  height: auto;

  z-index: 0;
}
